# Données CRM (trop volumineuses pour git, ne pas versionner)
Lumina & Co - CRM/

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# PyCharm / VS Code
# .idea/
# .vscode/

# Ruff / mypy
.ruff_cache/

.mypy_cache/


# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml


*.csv

